<!-- first add all html file in his template folder-->

<!--This is Dominator and i'm leaning geet-hoob-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Template</title>
    <link rel="stylesheet" href="basic.css">
</head>

<body>
    <div class="header">
        <div class="head1">
            <!-- <div class="logo">
                <h1>MiniKart</h1>
            </div> -->
            <!-- <div class="sub-head"> -->
                <ul>
                    <li class="logo"><a href="#">MiniKart</a></li>
                    <li class="search"><a href="#">Search</a></li>
                    <li class="cart"><a href="#">Cart</a></li>
                    <li class="login"><a href="#">Login</a></li>
                </ul>
            <!-- </div> -->
            

        </div>
        <div class="head2">
            <ul>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Others</a></li>
                <li><a href="#">Best Seller</a></li>
                <li><a href="#">Top Deals</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
    </div>

    <!------------------ FOOTER STARTS FROM HERE -------------------------->
    
    <footer class="site-footer">
        <div class="container">
              <h6>About</h6>
              <p>ECOM is a place where you can have latest fasion and brands at one place.<br>
                 Go through our exotic collection and get delivered in a few days.</p>
            </div>
  
            
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="#">Your Orders</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Cart</a></li>
              </ul> 
    
              <h6>Quick Links</h6>
              <ul class="footer-links">                
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>    

        <div class="container">          
              <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved
              </p>
            </div>
  </footer>

    
</body>

</html>