*{
    margin: 0;
    padding: 0;
} 
html, body {
    margin: 0;
    border: 0;
}
/*hardik*/
.navbar{
    display: flex;
}
 .nav-list{
    width: 30%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    padding-right: none;
    
 }
.nav-list li{
    align-content: space-between;
    list-style: none;
    padding: 20px 45px;
    
}
.nav-list li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 100;
}
.nav-list li a:hover{
    text-decoration: none;
    color:black;
    font-size: 20px;
}

 .left-nav{
    width: 70%; 
    background-color: #f8f9fa;   
    display: flex;
    align-items: center;
    padding-left: 30px;
}
 .logo{
    padding: 20px 60px;
    text-decoration: none;
    font-size: 30px;  
    color: grey;  
}  

 .ssrc{
    padding: 20px 70px ;  
    align-content: center;
    text-align: right;
}
.textbox
{
 font-size:18pt;
 height:20px;
 width:400px;
 border-radius: 20px;
}
.btn
{
height: 25px;
font-size: 20px;
border-radius: 20px;
width: 80px;
color: grey;
}
/*hardik*/
.head2 {
    background-color: rgb(238, 227, 227);
    color: white;
}


.header a {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
}
.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    height: 35px;
   
    /* adding border for editing  */
    /* border: 5px solid red; */

}
.header li {
    list-style-type: none;
    /* adding border for editing  */
    /* border: 5px solid red; */
    
}
.head1 ul {
    margin-bottom: 0px;
    padding-bottom: 15px;
    /* adding border for editing  */
    /* border: 5px solid black;
    outline-style: solid;
    outline-color: red; */

}

.head1 li {
    padding-top: 12px;
}

li.logo {
    padding: 10px;
    padding-top: 5px;
    margin-left: -100px;
    /* adding border for editing  */
    /* border: 5px solid black;
    outline-style: solid;
    outline-color: red; */

}

li.search {
    padding: 25px;
    padding-top: 5px;
    /* adding border for editing  */
    /* border: 5px solid pink;
    outline-style: solid;
    outline-color: red; */

}
li.cart {
    padding: 25px;
    padding-top: 5px;
    margin-right: -280px;
    /* adding border for editing  */
    /* border: 5px solid green;
    outline-style: solid;
    outline-color: red; */

}
li.login {
    padding: 25px;
    padding-top: 5px;
    margin-right: -160px;

    /* adding border for editing  */
    /* outline-style: solid;
    outline-color: red;
    border: 5px solid blue; */

}

/* .head1 {
    display: flex;
    flex-direction: row;
    
} 
 .sub-head {

}

.head1 ul{
    
} */

/* a:link {
    color: black;
}
a:visited {
    color: black;
}

a:hover {
  color: beige;
}
*/

/* ---------------FOOTER STARTS FROM HERE --------------  */

.site-footer
{
  font-family: Arial;   
  background-color:black;
  padding:45px 20px;
  font-size:15px;
  line-height:20px;
  color:white;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
}

.site-footer .container{
    font-size: 16px;
    font-family: arial;
    color:white;
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white;
}

.copyright-text
{
  margin:0
}



