<!-- first add all html file in his template folder-->

<!--This is Dominator and i'm leaning geet-hoob-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Template</title>
</head>
<body>
    <div class="header"></div>
    <div class="content"></div>

    <div class="footer">
        <form style="border: black">
        <p style="text-align: center;">
            Ecom is your one stop shop for everything! 
        </p> 
        <a href="career"> career </a><br>
        <a href="orders"> Your orders </a><br>
        <a href="account"> your account </a><br>
        <a href="gift"> gift card </a><br>
            <address>
                405, vanita park apartments, Bhatar road, surat - 395007
            </address>
        </form>
        
    </div>
</body>
</html>
Read more: https://html.com/tags/comment-tag/#ixzz6gO93mHg8
