<!-- first add all html file in his template folder-->

<!--This is Dominator and i'm leaning geet-hoob-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Template</title>
</head>
<body>
    <div class="header"></div>
    <div class="content"></div>
    <div class="footer"></div>

jay learning github through deepu
</body>
</html>
Read more: https://html.com/tags/comment-tag/#ixzz6gO93mHg8
